In [89]:
import numpy as np
import pandas as pd

movies = pd.read_csv('movies_2.csv')
movies.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

# exercise 1 
the number of rows and columns present in the data set (i.e. the shape of the dataframe)

columns present in the data set, along with the data type (use info or dtypes method)

check how many NaN we have for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns

understand which kind of information each column represents

In [90]:
movies = pd.read_csv('./movies_2.csv')
movies

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
movies.shape  #the number of rows and columns present in the data set
movies.info
movies.dtypes
movies.info
movies.isnull().sum()
movies.columns

print(movies.isnull().sum()) #finding the total null values in each row

print(movies.columns) 

null_rows = movies[movies.isnull().any(axis=1)] #printing all the null rows
null_rows

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64
Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary'],
      dtype='object')

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
327,328,Mr. & Mrs. Smith,PG-13,110000000.0,4.782075e+08,2005-06-07,Comedy,120.0,6.7,150380.0,NaN
359,360,300,R,60000000.0,4.541619e+08,2007-03-09,Action,155.0,8.1,681249.0,NaN
380,381,Marley and Me,PG,60000000.0,2.478000e+08,2008-12-25,Drama,115.0,4.7,252223.0,NaN
391,392,WALL-E,G,180000000.0,5.333000e+08,2008-06-23,Animation,97.0,7.6,429384.0,NaN
396,397,Taken,PG-13,25000000.0,2.268000e+08,2009-01-30,Thriller,90.0,7.6,473121.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Exercise2 
Get rid of the Summary column (use the drop() method)

In [92]:
new_movies = movies.drop('Summary',axis='columns',inplace=True)
new_movies

In [93]:
movies.head(5) #see sample list

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

# Exercise 3 
use the rename method to change all columns names to lowercase, and replace spaces with underscores if the name is made of more than one word

In [94]:
movies.columns = movies.columns.str.lower().str.replace(' ', '_',) #fixing the name to lowercase
movies.columns

Index(['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date',
       'genre', 'runtime', 'rating', 'rating_count'],
      dtype='object')

# exercise 4 
Get rid of the last row

In [95]:
movies = movies.drop(movies.index[-1])
movies.shape

(615, 10)

 # exercise 5
 the one containing NaN for each column (use drop() method and row index)

In [96]:
movies.dropna(axis=0)
movies.dropna(axis=1)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0
...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0

# Exercise 6 
use the fillna() method to replace the missing values of Rating with their median

In [97]:
movies.fillna({ 'rating': movies['rating'].median() }, inplace=True)
print(movies.isnull().sum())

movieid           0
title             0
mpaa_rating       0
budget            0
gross             0
release_date      0
genre             0
runtime           0
rating            0
rating_count    107
dtype: int64

# Exercise 7 
use the fillna() method to replace the missing values of rating_count with their median

In [98]:
movies.fillna({ 'rating_count': movies['rating_count'].median() }, inplace=True)
print(movies.isnull().sum())

movieid         0
title           0
mpaa_rating     0
budget          0
gross           0
release_date    0
genre           0
runtime         0
rating          0
rating_count    0
dtype: int64

# Exercise 8
Convert Budget into integer type (use the astype() method)

In [99]:
movies['budget'] = movies['budget'].astype(int)
movies.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

# Exercise 9
Convert Gross into integer type

In [100]:
movies['gross'] = movies['gross'].astype(int)
movies.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0

# Exercise 9
Convert Release Date into date type (use the to_datetime method)

In [101]:
movies['release_date'] = pd.to_datetime(movies['release_date'])
movies.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0

# Exercise 9 ( exploratory analysis.)
show the movies with more than 7 in Rating & greater than 50 million Gross

In [102]:
movies_updated = movies[(movies['rating'] > 7) & (movies['gross'] > 50000000)]
movies_updated

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0

# exercise 10 
show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

In [103]:
movies_updated = movies[(movies['rating'] > 7) & (movies['gross'] > 50000000) & (movies['mpaa_rating'] == "PG")]
movies_updated.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000,411348924,1989-06-23,Action,126.0,7.5,319517.0

# exercise 11 
show the count of Animation movies with more than 7 in Rating (use the shape() method)

In [104]:
movies_updated = movies[(movies['rating'] > 7) &(movies['genre'] == 'Animation')]
movies_updated.shape

(39, 10)

# exercise 12 
show the top 5 movies based on Budget

In [105]:
movies_top5 = movies.sort_values('budget',ascending=False).head(5)
movies_top5

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

# exercise 13 
show the top 5 Comedy movies by Rating

In [106]:
# Filter for comedy movies
comedy_movies = movies[movies['genre'] == 'Comedy']

# Get the top 10 comedy movies based on 'Rating'
movies_top5comedy = comedy_movies.nlargest(5, "rating")
movies_top5comedy

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000,119418501,1991-12-27,Comedy,130.0,7.7,62493.0

# exercise 14
top 5 movie names by Rating

In [107]:
# Filter for rating movies
movie_names = movies.sort_values('rating',ascending=False).head(5)
movie_names

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
393,394,The Dark Knight,PG-13,185000000,1004558444,2008-07-16,Action,152.0,9.0,2127228.0
83,84,Schindler's List,R,22000000,321365567,1993-11-29,History,195.0,8.9,1117322.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1118888979,2003-12-01,Fantasy,201.0,8.9,1529953.0
99,100,Pulp Fiction,R,8000000,213928762,1994-09-10,Thriller,154.0,8.9,1690474.0
98,99,Jurassic Park III,PG-13,93000000,368800000,2001-07-16,Thriller,92.0,8.9,1690474.0

# exercise 15 
top 3 high Gross Romance movies released after 1999 (typecast it to datetime)

In [108]:

# Filter for comedy movies
romance_movies = movies[(movies['genre'] == 'Romance') & (movies['release_date'].dt.year > 1999)]

# Get the top 3 comedy movies based on 'Rating'
romance_movies = romance_movies.sort_values('gross',ascending=False).head(3)
romance_movies

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0

# exercise 15 
how many Genres are present in the dataframe? (use value_counts() method which applies to Series, not Dataframe)

In [109]:
genre_count = movies['genre'].value_counts()
genre_count

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

# exercise 16 
top 5 most expensive movies released after 1999 (measured by Budget)

In [110]:
# Filter for years release
movies_release= movies[movies['release_date'].dt.year > 1999] 

# Get the top 3 expensive movies based on 'Budget'
movies_release = movies_release.sort_values('budget',ascending=False).head(5)
movies_release

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
573,574,Justice League,PG-13,300000000,657900000,2017-11-15,Action,120.0,6.9,240347.5

# exercise 17 
most & least frequent MPAA Rating in the dataset in terms of occurrences

In [111]:
# most frequent value
freq = movies['mpaa_rating'].value_counts()
freq

# most_freq_value_MPAA = freq.index[3]
most_freq_mpaa = freq.idxmax()
most_freq_mpaa

# # least frequent value
least_freq_mpaa = freq.idxmin()
least_freq_mpaa

print(freq)
print(most_freq_mpaa)
print(least_freq_mpaa)

mpaa_rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64
PG-13
G

# exercise 18 
most & least expensive Genre (take an average of all Budget measures grouped by Genre - use the groupBy() method)

In [118]:
#average of all budget group by
average_budget = movies.groupby('genre')['budget'].mean()
average_budget

most_expensive_genre = average_budget.idxmax()
most_expensive_genre

least_expensive_genre = average_budget.idxmin()
least_expensive_genre

print("the most expensive genre is",most_expensive_genre)
print("the least expensive genre is",least_expensive_genre)

the most expensive genre is Fantasy
the least expensive genre is Horror

# exercise 19 
which Genre is favoured the most?

In [121]:
most_rating_count = movies.groupby('genre')['rating_count'].value_counts()
most_rating_count.head(1)

genre   rating_count
Action  240347.5        34
Name: count, dtype: int64

# superusefull Commands

In [ ]:
#step1 

# import numpy as np
# import pandas as pd

# movies = pd.read_csv('movies_2.csv') #loading the csv
movies.head(5) #printing the first 5 rows 
movies.shape #total rows and columns
movies.isnull().sum() #finding the null values 
movies.columns #finding the column header
null_rows = movies[movies.isnull().any(axis=1)] #printing all the null rows
new_movies = movies.drop('Summary',axis='columns',inplace=True) #drop a specific column permanently 
movies.columns = movies.columns.str.lower().str.replace(' ', '_',) #fixing the name to lowercase and removing spaces
movies = movies.drop(movies.index[-1]) #get rid of the last row
movies.dropna(axis=0) #removing NAN axis 0 (rows)
movies.dropna(axis=1)#removing NAN axis 1 (Columns)
movies.fillna({ 'rating': movies['rating'].median() }, inplace=True) #filling NA with mean
movies['budget'] = movies['budget'].astype(int) #Convert into integer
movies['release_date'] = pd.to_datetime(movies['release_date']) #datetype
movies_updated = movies[(movies['rating'] > 7) & (movies['gross'] > 50000000)] #filtering

comedy_movies = movies[movies['genre'] == 'Comedy'] #filter 2 
movies_top5 = movies.sort_values('budget',ascending=False).head(5) #sorting values

genre_count = movies['genre'].value_counts() #count values
movies_release= movies[movies['release_date'].dt.year > 1999]  #filter by year
most_freq_mpaa = freq.idxmax() #most frequent
least_freq_mpaa = freq.idxmin() #least frequent
average = df[‘column’].mean() #average of the column 
max  = df[‘column’].max() #max of the column 
df.loc[df['column_name'] == 'some_value'] # getting details of a specific column
total_benefits = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', ['TotalPayBenefits','JobTitle']] #extracting specific values
most_common = sal['JobTitle'].value_counts()
most_common.head(5)  #top 5 from a column

grouped_year = mkt_data.groupby(mkt_data['transaction_date'].dt.year) 
yearly_sums = grouped_year['revenue'].sum()
yearly_sums